body {
  background-color: #cce1f5;
}

body .sailor {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.sailor {
  position: relative;
  overflow: hidden;
  width: 35em;
  height: 35em;
}

.sailor-head {
  position: absolute;
  top: 50%;
  width: 13.5em;
  left: 50%;
  transform: translateX(-50%);
}

.sailor-hair {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3.125em;
  width: 3.125em;
  border-radius: 50%;
  color: #492B1C;
  top: -3.125em;
  box-shadow: -6.5em 7.188em, -6.875em 5.938em, -7.5em 4.375em, -7.813em 2.5em, -7.813em 0.625em, -7.188em -1.563em, -5.938em -3.438em, -4.063em -4.688em, -2.188em -5.313em, 0 -5.625em, 6.5em 7.188em, 6.875em 5.938em, 7.5em 4.375em, 7.813em 2.5em, 7.813em 0.625em, 7.188em -1.563em, 5.938em -3.438em, 4.063em -4.688em, 2.188em -5.313em;
  z-index: -3;
}

.sailor-hair::after, .sailor-hair::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
}

.sailor-hair::after {
  height: 14em;
  width: 14em;
  border-radius: 50%;
  background-color: #492B1C;
  top: -105%;
}

.sailor-cap {
  position: absolute;
  top: -10em;
  left: 50%;
  transform: translateX(-50%);
  width: 16em;
  height: 8em;
  background-color: #8c5a41;
  border-radius: 48% 52% 52% 48% / 100% 100% 15% 16%;  
}

.sailor-cap:before {
  content: '';
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  width: 18em;
  height: 5em;
  background-color: #b87350;
  border-radius: 48% 52% 52% 48% / 60% 55% 15% 16%;
}

.sailor-cap span {
  background-color: #a76c4f;
  position: absolute;
  height: 100%;
  width: 0.1em;
  border-radius: 0.8em;
}

.sailor-cap span:nth-child(1) {
  top: 5em;
  left: 0em;
  width: 0.1em;
  height: 2em;
}

.sailor-cap span:nth-child(2) {
  top: 4.75em;
  left: 1em;
  height: 2.5em;
}

.sailor-cap span:nth-child(3) {
  top: 4.3em;
  left: 2em;
  height: 3.15em;
}

.sailor-cap span:nth-child(4) {
  top: 4em;
  left: 3em;
  height: 3.5em;
}

.sailor-cap span:nth-child(5) {
  top: 3.8em;
  left: 4em;
  height: 3.7em;
}

.sailor-cap span:nth-child(6) {
  top: 3.6em;
  left: 5em;
  height: 3.9em;
}

.sailor-cap span:nth-child(7) {
  top: 3.5em;
  left: 6em;
  height: 4em;
}

.sailor-cap span:nth-child(8) {
  top: 3.5em;
  left: 7em;
  height: 4em;
}

.sailor-cap span:nth-child(9) {
  top: 3.5em;
  left: 8em;
  height: 4em;
}

.sailor-cap span:nth-child(10) {
  top: 3.5em;
  left: 9em;
  height: 4em;
}

.sailor-cap span:nth-child(11) {
  top: 3.5em;
  left: 10em;
  height: 4em;
}

.sailor-cap span:nth-child(12) {
  top: 3.6em;
  left: 11em;
  height: 3.9em;
}

.sailor-cap span:nth-child(13) {
  top: 3.8em;
  left: 12em;
  height: 3.7em;
}

.sailor-cap span:nth-child(14) {
  top: 4em;
  left: 13em;
  height: 3.5em;
}

.sailor-cap span:nth-child(15) {
  top: 4.3em;
  left: 14em;
  height: 3.15em;
}

.sailor-cap span:nth-child(16) {
  top: 4.75em;
  left: 15em;
  height: 2.5em;
}

.sailor-cap span:nth-child(17) {
  top: 5em;
  left: 16em;
  height: 2em;
}

.sailor-bangs {
  position: absolute;
  top: -0.9em;
  left: 50%;
  height: 1.563em;
  width: 3.125em;
  transform: translateX(-50%);
  color: #492B1C;
  background-color: currentColor;
  border-radius: 0 0 1.563em 1.563em;
  box-shadow: -1.563em -0.25em, -3.125em -0.5em, 1.563em -0.25em, 3.125em -0.5em, -1.563em 0.063em #dfa784, -2.875em 0.063em 0 -0.313em #dfa784, 0 0.313em #dfa784, 1.563em 0.063em #dfa784, 2.875em 0.063em 0 -0.313em #dfa784;
  z-index: 2;
}

.sailor-beard {
  position: absolute;
  left: 50%;
  width: 13.5em;
  height: 16em;
  transform: translateX(-50%);
  background-color: #492B1C;
  border-radius: 0 0 13.5em 13.5em;
  box-shadow: 0 1.3em 0 -0.8em #dfa784;
}

.sailor-beard-patterns span {
  background-color: #573829;
  position: absolute;
  height: 100%;
}

.sailor-beard-patterns span:nth-child(1) {
  top: 8em;
  left: 10em;
  width: 1.5em;
  height: 0.8em;
  border-radius: 0.8em;
}

.sailor-beard-patterns span:nth-child(2) {
  top: 8em;
  left: 1.4em;
  width: 1em;
  height: 2em;
  border-radius: 2em;
}

.sailor-beard-patterns span:nth-child(3) {
  bottom: 3em;
  left: 4em;
  width: 0.8em;
  height: 4.5em;
  border-radius: 4.5em;
}

.sailor-beard-patterns span:nth-child(4) {
  bottom: 6em;
  left: 6.5em;
  width: 1em;
  height: 2.5em;
  border-radius: 2.5em;
}

.sailor-beard-patterns span:nth-child(5) {
  bottom: 2.5em;
  right: 4em;
  width: 1em;
  height: 3em;
  border-radius: 3em;
}

.sailor-beard-patterns span:nth-child(6) {
  bottom: 6em;
  right: 1em;
  width: 0.6em;
  height: 1.7em;
  border-radius: 1.7em;
}

.sailor-mustache {
  width: 35px; 
  height: 35px;
  position: absolute;
  top: -20px;
  border-radius: 50%; 
  color: #573829;
  box-shadow: 
    75px 100px 0 0 currentColor, 
    110px 100px 0 0 currentColor;
}

.sailor-mustache::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  left: 70px; 
  top: 35px;
  border-bottom: solid 35px currentColor; 
  border-radius: 0 0 0 100%; 
  transform: rotate(-40deg); 
  transform-origin: right 125px;
}

.sailor-mustache::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  left: 70px;
  top: 35px;
  border-bottom: solid 35px currentColor; 
  border-radius: 0 0 100% 0;
  transform: rotate(40deg); 
  transform-origin: left 125px;
}

.sailor-face {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12em;
  height: 4.5em;
  border-radius: 2.5em ;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  background-color: #f8c09d;
  z-index: 1;
}

.sailor-face::after {
  content: "";
  position: absolute;
  bottom: -1.3em;
  height: 1.3em;
  width: 3.1em;
  border-radius: 0 0 1.3em 1.3em;
  background-color: inherit;
}

.sailor-face::before {
  content: "";
  position: absolute;
  bottom: -0.4em;
  right: 50%;
  width: 0.8em;
  height: 1.3em;
  border-radius: 0.8em;
  background-color: #f3cfb8;
  z-index: 1;
}

.sailor-eye {
  position: relative;
  margin-top: 1em;
  width: 4.6em;
  height: 1.8em;
  border-radius: 2em;
  background-color: #492B1C;
  box-shadow: 0 1em 0 -0.5em #dfa784;
}

.sailor-eye::after {
  content: "";
  position: absolute;
  left: 0.7em;
  top: 0.2em;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  background-color: #573829;
}

.sailor-eye::before {
  content: "";
  position: absolute;
  bottom: -0.8em;
  right: 1.4em;
  height: 1em;
  width: 0.7em;
  border-radius: 0.7em;
  background-color: #191b1d;
}

.sailor-eye-right {
  transform: scaleX(-1);
}

.sailor-ear {
  position: absolute;
  top: 3em;
  left: -2.4em;
  width: 2.5em;
  height: 3em;
  background-color: #f8c09d;
  border-radius: 2.5em 0 0 2.5em;
  box-shadow: inset 0 -0.8em #dfa784;
}

.sailor-ear::after, .sailor-ear::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 8%;
  width: 1.2em;
  height: 0.45em;
  background-color: #c58d69;
  border-radius: 0.6em;
}

.sailor-ear::before {
  transform: rotate(45deg);
}

.sailor-ear::after {
  transform: rotate(-45deg);
}

.sailor-ear-right {
  transform: scaleX(-1);
  right: -2.5em;
  left: unset;
}

.sailor-ear .earring {
  position: relative;
  top: 35px;
  left: 12px;
  width: 6px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgb(199, 149, 57);
  box-shadow: inset 0px 20px transparent;
}

.sailor-neck {
  position: absolute;
  left: 50%;
  bottom: -15em;
  transform: translateX(-50%);
  width: 14em;
  height: 11em;
  background-color: #dfa784;
  border-radius: 0 0 12em 12em;
  z-index: -1;
}

.sailor-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 34em;
  height: 8em;
  border-radius: 8em 8em 0 0;
  background-color: #4167c7;
  z-index: -1;
}

