body {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  background-color: #c7d8e3;
}

.character {
  font-size: 25px;
  position: relative;
  width: max-content;
  z-index: 1;
}

.head {
  position: relative;
  width: 6em;
  height: 8.5em;
  border-radius: 6em;
  background-color: #bf7358;
}
.head::before {
  content: "";
  display: block;
  width: 100%;
  height: 3.75em;
  background-color: #3f1d17;
  border-radius: 6em 6em 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 1.5em) 100%, calc(100% - 2.5em) 2.5em, calc(100% - 2.5em) 100%, 0 100%);
}

.hair {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5em;
  height: 5.5em;
  border-radius: 7.55em 7.5em 0 0;
  background-color: #351812;
  z-index: -2;
}

.hair::before {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  width: 9em;
  height: 2em;
  border-radius: 2em;
  background-color: inherit;
}

.face {
  position: relative;
  width: 100%;
  height: calc(100% - 3.5em);
}

.eyes {
  width: 100%;
  height: 1em;
  display: flex;
  justify-content: space-around;
}

.eyes::before, .eyes::after {
  content: "";
  width: 1em;
  height: 1em;
  background-color: #99553f;
  border-radius: 50%;
}

.nose {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1em;
  height: 1.5em;
  border-radius: 0 0 0.2em 0.2em;
  background-color: #b16950;
}

.mouth {
  position: absolute;
  overflow: hidden;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 3em;
  height: 1.5em;
  border-radius: 0 0 1.5em 1.5em;
  background: linear-gradient(#ffffff 0.5em, #933634 0);
}

.mouth::before {
  content: "";
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #af3f3f;
}

.ears {
  position: absolute;
  top: 4em;
  width: 100%;
  height: 1em;
  z-index: -1;
}

.ears::before, .ears::after {
  content: "";
  position: absolute;
  width: 0.55em;
  height: 1.5em;
  border-radius: 0.5em 0 0 0.5em;
  background-color: #b16950;
}

.ears::before {
  left: -0.5em;
}

.ears::after {
  transform: scaleX(-1);
  right: -0.5em;
}

.glasses {
  position: absolute;
  top: -0.5em;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-around;
}

.glasses::before, .glasses::after {
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.08em solid #934428;
  box-sizing: border-box;
}

.glasses-bars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5em;
  color: #934428;
  height: 0.08em;
  width: 1.3em;
  background-color: currentColor;
}

.glasses-bars::before, .glasses-bars::after {
  content: "";
  position: absolute;
  top: 0.2em;
  height: 0.08em;
  width: 0.8em;
  border-radius: 0.2em;
  background-color: currentColor;
}

.glasses-bars::before {
  left: -2.5em;
}

.glasses-bars::after {
  right: -2.5em;
}

.neck {
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 2em;
  height: 2.5em;
  border-radius: 0 0 2.5em 2.5em;
  background-color: #b16950;
  z-index: -1;
}

.body {
  position: relative;
  overflow: hidden;
  left: -1em;
  width: 8em;
  height: 5em;
  border-radius: 5em 5em 0 0;
  background-color: #1cb0f6;
  z-index: -3;
}

.body::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5em;
  height: 3em;
  border-radius: 0 0 4.5em 4.5em;
  background-color: #bf7358;
}

.cat {
  --color: #a3725d;
  --color-pattern: #956551;
  --color-eyes: #8d604d;
  position: absolute;
  bottom: 0;
  left: -1.5em;
  width: 3.5em;
  height: 5em;
  border-radius: 3.5em 3.5em 0 0;
  background-color: var(--color);
}

.cat-patterns {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--color-pattern);
}

.cat-patterns::before, .cat-patterns::after {
  content: "";
  position: absolute;
  bottom: 1.5em;
  width: 1em;
  height: 0.8em;
  border-radius: 0 0.8em 0.8em 0;
  background-color: currentColor;
  box-shadow: 0 1em;
}

.cat-patterns::before {
  left: -0.2em;
}

.cat-patterns::after {
  right: -0.2em;
  transform: scaleX(-1);
}

.cat-eyes {
  position: absolute;
  top: 1.4em;
  width: 100%;
  height: 0.3em;
  display: flex;
  justify-content: space-around;
}
.cat-eyes::before, .cat-eyes::after {
  content: "";
  height: 0.3em;
  width: 0.5em;
  border-radius: 0 0 0.3em 0.3em;
  background-color: var(--color-eyes);
}

.cat-nose {
  position: absolute;
  top: 1.8em;
  left: 1.6em;
  width: 0.3em;
  height: 0.3em;
  border-top-right-radius: 30%;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.8);
  background-color: var(--color-pattern);
  transform: rotate(0deg) skewX(-30deg) scale(1, 0.8);
  border-top-right-radius: 70%;
}

.cat-nose::before, .cat-nose::after {
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  border-top-right-radius: inherit;
}

.cat-nose::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.4, 0.7) translate(0, -50%);
}

.cat-nose::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.7, 1.4) translate(50%);
}

.cat-nose-whiskers {
  position: absolute;
  top: 0.3em;
  left: -1.1em;
  width: 0.8em;
  height: 0.1em;
  border-radius: 0.1em;
  transform: skewX(30deg);
  color: var(--color-pattern);
  background-color: currentColor;
  box-shadow: 0 0.3em, 1.6em 0, 1.6em 0.3em;
}

.cat-ear {
  position: absolute;
  top: -0.3em;
  left: -0.08em;
  width: 1.3em;
  height: 1.3em;
  border-top-right-radius: 30%;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.8);
  background-color: inherit;
  transform: rotate(-90deg) skewX(-30deg) scale(1, 0.8);
}

.cat-ear::before, .cat-ear::after {
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  border-top-right-radius: inherit;
}

.cat-ear::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.4, 0.7) translate(0, -50%);
}

.cat-ear::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.7, 1.4) translate(50%);
}

.cat-ear:nth-child(2) {
  left: unset;
  top: 0.5em;
  right: -0.08em;
  transform: rotate(90deg) skewX(-30deg) scale(1, 0.8);
}

.brown {
  --color: #6d4a3b;
  --color-pattern: #5b3d32;
  --color-eyes: var(--color-pattern);
  left: unset;
  right: 0em;
  height: 7em;
  z-index: -4;
}
